
@{
    ViewBag.Title = "Product_Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using Web_SmartPhone.Models
@model Product


<div class="span9">
    <ul class="breadcrumb">
        <li><a href="~/Home/Index">Home</a> <span class="divider">/</span></li>
        <li><a href="~/Home/Index">Products</a> <span class="divider">/</span></li>
        <li class="active">product Details</li>
    </ul>
    <div class="row">
        <div id="gallery" class="span3">
            <a href="@Model.Images" title="@Model.Name">
                <img src="@Model.Images" style="width:100%" alt="@Model.Name" />
            </a>
            <div id="differentview" class="moreOptopm carousel slide">
                <div class="carousel-inner">
                    <div class="item active">
                        @foreach (var item in ViewBag.v)
                        {
                            <a href="@item.Images"> <img style="width:29%" src="@item.Images" alt="" /></a>

                        }
                        @*<a href="~/Content/themes/images/products/large/f1.jpg"> <img style="width:29%" src="~/Content/themes/images/products/large/f1.jpg" alt="" /></a>
                        <a href="~/Content/themes/images/products/large/f2.jpg"> <img style="width:29%" src="~/Content/themes/images/products/large/f2.jpg" alt="" /></a>
                        <a href="~/Content/themes/images/products/large/f3.jpg"> <img style="width:29%" src="~/Content/themes/images/products/large/f3.jpg" alt="" /></a>*@
                    </div>
                    <div class="item">
                        @foreach (var item in ViewBag.v)
                        {
                            <a href="@item.Images"> <img style="width:29%" src="@item.Images" alt="" /></a>

                        }
                    </div>
                </div>
                <!--
                <a class="left carousel-control" href="#myCarousel" data-slide="prev">‹</a>
                <a class="right carousel-control" href="#myCarousel" data-slide="next">›</a>
                -->
            </div>

            <div class="btn-toolbar">
                <div class="btn-group">
                    <span class="btn"><i class="icon-envelope"></i></span>
                    <span class="btn"><i class="icon-print"></i></span>
                    <span class="btn"><i class="icon-zoom-in"></i></span>
                    <span class="btn"><i class="icon-star"></i></span>
                    <span class="btn"><i class=" icon-thumbs-up"></i></span>
                    <span class="btn"><i class="icon-thumbs-down"></i></span>
                </div>
            </div>
        </div>
        <div class="span6">
            <h3>@Model.Name</h3>
            <small>- (14MP, 18x Optical Zoom) 3-inch LCD</small>
            <hr class="soft" />
            <form class="form-horizontal qtyFrm">
                <div class="control-group">
                    <label class="control-label"><span>@Model.Price đ</span></label>
                    <div class="controls">
                        <input type="number" class="span1" placeholder="Qty." />
                        @*<a href="~/Home/ShoppingCart?productId=@Model.ID&quantity=1"><button type="submit" class="btn btn-large btn-primary pull-right"> Add to cart <i class=" icon-shopping-cart"></i></button></a>*@
                        <a class="btn btn-large btn-primary pull-right" href="~/Home/ShoppingCart?productId=@Model.ID&quantity=1">Add to <i class="icon-shopping-cart"></i></a>
                    </div>
                </div>
            </form>

            <hr class="soft" />
            <h4>@Model.Quantity items in stock</h4>
            <form class="form-horizontal qtyFrm pull-right">
                <div class="control-group">
                    <label class="control-label"><span>Color</span></label>
                    <div class="controls">
                        <select class="span2">
                            <option>Black</option>
                            <option>Red</option>
                            <option>Blue</option>
                            <option>Brown</option>
                        </select>
                    </div>
                </div>
            </form>
            <hr class="soft clr" />
           
            <a class="btn btn-small pull-right" href="#detail">More Details</a>
            <br class="clr" />
            <a href="#" name="detail"></a>
            <hr class="soft" />
        </div>

        <div class="span9">
            <ul id="productDetail" class="nav nav-tabs">
                <li class="active"><a href="#home" data-toggle="tab">Product Details</a></li>
                <li><a href="#profile" data-toggle="tab">Related Products</a></li>
            </ul>
            <div id="myTabContent" class="tab-content">
                <div class="tab-pane fade active in" id="home">
         @Model.Detail
                </div>
                <div class="tab-pane fade" id="profile">
             
                    <br class="clr" />
                    <hr class="soft" />
                    <div class="tab-content">
                        <div class="tab-pane active" id="blockView">
                            <ul class="thumbnails">
                                @foreach (var item in ViewBag.vi)
                                {
                                    <li class="span3">
                                        <div class="thumbnail">
                                            <a href="@Url.Action("Product_Details", "Home", new { @masp=@item.ID})"><img src="@item.Images" alt="" /></a>
                                            <div class="caption">
                                                <h5>@item.Name</h5>
                                            
                                                <h4 style="text-align:center"><a class="btn" href="product_details.html"> <i class="icon-zoom-in"></i></a> <a class="btn" href="#">Add to <i class="icon-shopping-cart"></i></a> <a class="btn btn-primary" href="#">@item.Price</a></h4>
                                            </div>
                                        </div>
                                    </li>
                                }
                               
                            </ul>
                            <hr class="soft" />
                        </div>
                    </div>
                    <br class="clr">
                </div>
            </div>
        </div>

    </div>
</div>
